.Product{
    border: 1px solid black;
    height: fit-content;
    width:25vw;
    max-width: 25vw;
    background-color: #b0f6ff;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.price{
    background-color: rgb(237, 237, 43);
    display: flex;
    justify-content: space-evenly;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.old{
    text-decoration: line-through;
    cursor: pointer;
}
.new{
    
    cursor: pointer;
}